
<div class="container" >
		<h1>Jabs_Erp Pro</h1>
		<div class="main_data">
			 <form [formGroup]="myForm">
				<table class="example-full-width" cellspacing="0">
						<h3>SignIn in to your Account</h3>  

					<tr>
					  <td>
						<mat-form-field class="example-full-width">
						<input matInput placeholder="Username"  formControlName = "userName" required>
						</mat-form-field>
						<div class="form-control-feedback"
						  *ngIf="myForm.controls.userName.errors && (myForm.controls.userName.dirty || myForm.controls.userName.touched)">
						  <p *ngIf="myForm.controls.userName.errors.required">userName is required</p>
					  </div>
					  </td>
					</tr>
					<tr>
					<td><mat-form-field class="example-full-width">
					  <input matInput placeholder="Password" type="password" formControlName = "password" required>
					</mat-form-field>
					<div class="form-control-feedback"
                       *ngIf="myForm.controls.password.errors && (myForm.controls.password.dirty || myForm.controls.password.touched)">
                       <p *ngIf="myForm.controls.password.errors.required">Password is required</p>
                     </div>
				</td>
				  </tr>
				<tr>
					<td>
						<button mat-button [disabled]="!myForm.valid"  (click)="login(myForm.value)" >Submit</button>
					</td>
				</tr>
				</table>
			 </form>
		</div>
</div>