
<div fxLayout="column" class="login_form" fxLayoutAlign="center center">
    <h1>Jabs_Erp Pro</h1>

	<div  class="form_fields">
      <h3> Sign in to your Account</h3>
    <form class="fields" [formGroup]="myForm">
			<div>

				<mat-form-field class="">
                <input matInput value="" formControlName="userName" placeholder="user Name" type="text">
	        	</mat-form-field>
			</div>

			<div>
				<mat-form-field class="">
	            	<input matInput value="" formControlName="password" placeholder="password" type="password">
	        	</mat-form-field>
			</div>
          
      <div><p><label>Forget Password ?</label></p></div>

	    <div style="position: absolute; top: 119%;">
	        <mat-card-actions>
              <button mat-stroked-button full color="primary" (click)="login(myForm.value)">Submit</button>
	        </mat-card-actions>
      </div>
    </form>
  </div>

</div>