.form-header {
	background-color: rgb(90, 87, 87);
	color: white;
	padding: 0 5px;
}
.mat-form-field{
	padding-left:10px;
}
.validation-message{
	background-color: #00BCD4;
}
.container{
	padding-left:10px;
	padding-right:10px;
}
.form-container {
	padding: 5px 15px 15px 15px;
}
mat-toolbar{
    display: inline-block;
}
.add{
    float: right;
    margin: 14px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #f0eef3;
}
.form-component-holder {
	background-color: white;
}
.addPopup{
    width:100%;
    background-color: white;
    z-index:99999;
    left:0px;
    position:absolute;
}